pyyaml
opencv-python
jupyter
jupyterlab
youtube-dl
#torch==1.9.0+cu102 -f https://download.pytorch.org/whl/torch_stable.html
#torch==1.9.0
#torchvision==0.10.0+cu102 -f https://download.pytorch.org/whl/torch_stable.html
#torchvision==0.10.0
#detectron2 -f https://dl.fbaipublicfiles.com/detectron2/wheels/cu102/torch1.9/index.html